*.iml
.gradle
.idea
.DS_Store
build
/build
*/build
captures
/captures
.externalNativeBuild
.cxx
local.properties
/local.properties
*keystore.properties
*.jks
*yarn.lock
*google-services.json
*GoogleServices-Info.plist
xcuserdata
xcuserdata/