<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ui.MainApplication"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- Example: HABILITAR DEEPLINKS -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Example: host: google.com scheme: mobile -->
                <data android:host="yourcompany.com" android:scheme="yourscheme" />
            </intent-filter>
        </activity>
    </application>
</manifest> 